$parallax-height: 100vh;
$center-margin: 0px auto;

@mixin background-size($size) {
	-webkit-background-size: $size;
	-moz-background-size: $size;
	-o-background-size: $size;
	background-size: $size;
}

@mixin parallax-background($file) {
  background: url($file) no-repeat center center fixed;
  @include background-size(cover);

}

@function black($opacity){
    @return rgba(0,0,0,$opacity);
}
@function white($opacity){
    @return rgba(255,255,255,$opacity);
}

@mixin box-emboss($opacity, $opacity2){
    box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}
@mixin form-options($bgcolor, $shadowform, $bordercolor){
	margin: auto;
	height: 750px;
	background:($bgcolor);
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px black($shadowform);
	border-radius: 10px;
	border: 6px solid ($bordercolor);
}
