@import "helpers/mixins";
@import "helpers/vars";
@import "helpers/holders";

.form-container {
	padding: 5%;


}
.flight-form {
	@inculde form-options(gray, .85, black(.85));
}


 
.flight-form h1 {
	text-transform: uppercase;
  	font-family: $main_font;
  	letter-spacing: 0.06em;
  	font-size: 2.5em;
  	text-align: center;
  	transform: translateZ(-2px);
  	color: black(.85);
}
.flight-form .name-flight {
	border: 5px solid red;
	margin: auto;
	height: 75px;
	width: 90%;

}
label {
	text-transform: uppercase;
	color: black(.45);
	margin-top: 7.5%;
	padding: 2.5%;
	font-family: $main_font;

}
.label-name {

}